extends demo_top

block demo_body
    .container.index_margin
        .jumbotron
            h1.display-3.text-md-center XXXX
            h1.display-3.text-md-center XXXX
            p.lead.text-md-center
                | XXX
            hr.m-y-2
            p.text-md-center
                | XXXX