extends demo_top

block scripts

block demo_body
    .container.index_margin1_2
        h1 Aktualności
    .container.tab_margin.test
        .card
            .card-block
                h4.card-title Nowy program unijny - Rozwój kierunków innowacyjnych
                h6.card-subtitle.text-muted 14-06-2016
                hr
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                hr
                a.btn.btn-sm.btn-primary(href='/demo/PUE/prog1') Przejdź do karty programu
                a.btn.btn-sm.btn-success(href='#') Dodaj do moich programów
                a.btn.btn-sm.btn-warning(href='#') Ukryj
        .card
            .card-block
                h4.card-title Nowa funkcjonalność aktualności
                h6.card-subtitle.text-muted 10-05-2016
                hr
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                hr
                a.btn.btn-sm.btn-warning(href='#') Ukryj