extends demo_top

block demo_body
    .container.index_margin
            .jumbotron
                h1.display-3.text-md-center Witaj na platformie
                h1.display-3.text-md-center Lubuskiej Sieci Innowacji
                p.lead.text-md-center
                    | Znajdujesz się na stronie w wersji DEMO
                hr.m-y-2
                p.text-md-center
                    | Aby przetestować opcje skorzystaj z menu na górnej belce