extends layout

block scripts

block content
  .container-fluid
    nav.navbar.navbar-fixed-top.navbar-dark.bg-primary
      ul.nav.navbar-nav.pull-lg-right
        li.nav-item
          a.nav-link(href='/rejestracja') Rejestracja

  .container.index_margin
    .jumbotron
      h1.display-3.text-md-center Witaj na platformie
      h1.display-3.text-md-center Lubuskiej Sieci Innowacji
      p.lead.text-md-center
        | To jest strona dzięki której złożysz swój projekt
      hr.m-y-2
      p.text-md-center
        | To jest strona rozowja na której możesz zobaczyć demo portalu, zalogować się lub zarejestrować
      p.lead.text-md-center
        a.btn.btn-primary.btn-lg.btn-block(href='/demo', type='button') Demo
        a.btn.btn-secondary.btn-lg.btn-block(type='button', data-toggle="modal", data-target='.logowanie_do_LSI') Logowanie


  //MODALS
  .modal.fade.logowanie_do_LSI
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Logowanie
        .modal-body
          .container
            .row
              .col-lg-12
                p Podaj login oraz hasło użytkownika:
            .row
              .col-lg-8.col-lg-offset-2
                .input-group
                  span#IDlogin.input-group-addon Email
                  input.form-control(type='text', placeholder='e-mail', aria-describedby='IDlogin')
            .row
              .col-lg-8.col-lg-offset-2
                .input-group
                  span#IDpas.input-group-addon Hasło
                  input.form-control(type='text', placeholder='hasło', aria-describedby='IDpas')
            .row
              .col-lg-3.col-lg-offset-7
                a.label.label-warning(href='/', type='button') Zapomniałem hasła

        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Zamknij
          button.btn.btn-primary(type='button') Zaloguj