doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content



  //BOTTOM MAIN SCRIPTS
  //JQUERY
  script(src='jquery/dist/jquery.js')
  script(src='bootstrap/dist/js/bootstrap.js')